<div class="container my-5">
    <!-- Imagen Empresarial -->
    <div class="text-center">
        <img src="assets/empresa.jpg" class="img-fluid" alt="Imagen Empresarial">
    </div>

    <!-- Carrusel de Ofertas -->
    <div id="ofertasCarousel" class="carousel slide my-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/oferta1.jpg" class="d-block w-100" alt="Oferta 1">
            </div>
            <div class="carousel-item">
                <img src="assets/oferta2.jpg" class="d-block w-100" alt="Oferta 2">
            </div>
            <div class="carousel-item">
                <img src="assets/oferta3.jpg" class="d-block w-100" alt="Oferta 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#ofertasCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#ofertasCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Carrusel de Productos -->
    <div id="productosCarousel" class="carousel slide my-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img src="assets/producto1.jpg" class="img-fluid" alt="Producto 1">
                    </div>
                    <div class="col">
                        <img src="assets/producto2.jpg" class="img-fluid" alt="Producto 2">
                    </div>
                    <div class="col">
                        <img src="assets/producto3.jpg" class="img-fluid" alt="Producto 3">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img src="assets/producto4.jpg" class="img-fluid" alt="Producto 4">
                    </div>
                    <div class="col">
                        <img src="assets/producto5.jpg" class="img-fluid" alt="Producto 5">
                    </div>
                    <div class="col">
                        <img src="assets/producto6.jpg" class="img-fluid" alt="Producto 6">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productosCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productosCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>